<div class="bg-white rounded-3xl border shadow-xl p-8 w-[80%] my-6 text-center mx-auto">
  <div>
    <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-black ">Profitez de l'exchange le plus
      utilisé de ces dernières 24h pour acheter du doge :</h2>

    <p class="font-semibold text-3xl text-yellow-400">
      {{ wowCex.name }}
    </p>
    <a class="p-button bg-yellow-400 hover:bg-yellow-200 rounded-lg mt-4 text-gray-900 border-0 font-bold  "
      href="{{wowCex.exchangeUrl}}">Découvrir</a>

  </div>
</div>
