<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">

    <h2 class="title font-manrope font-bold text-4xl leading-10 mb-8 text-center text-black">Achetez vos billets de
      metro avec le Dogecoin
    </h2>
    <div
      class="rounded-3xl border-2 border-gray-200 p-4 lg:p-8 grid grid-cols-12 mb-8 max-lg:max-w-lg max-lg:mx-auto gap-y-4 ">
      <div class="col-span-12 lg:col-span-2 img box">
        <img
          src="https://media.istockphoto.com/id/1219614648/fr/vectoriel/billet-de-bus-dans-la-conception-plate-jaune-avec-code-barres-carte-de-passage-pour-le.jpg?s=612x612&w=0&k=20&c=Eltmit6m4mMFjpQCe2hjKaTOYK9UaKrlbKBhyVQnDqM="
          alt="speaker image" class="max-lg:w-full lg:w-[180px] rounded-lg">
      </div>
      <div class="col-span-12 lg:col-span-10 detail w-full lg:pl-3">
        <div class="flex items-center justify-between w-full mb-4">
          <h5 class="font-manrope font-bold text-2xl leading-9 text-gray-900">Tickets de transport RATP</h5>

        </div>
        <p class="font-normal text-base leading-7 text-gray-500 mb-6">
          Dogecoin à l'honneur d'étre l'un des sponsors officiels des Jeux olympiques de Paris 2024.
          Pour l'occasion, nous vous proposons d'acheter vos billets de transport RATP avec notre fabuleuse crypto.
        </p>
        <div class="flex justify-between items-center">
          <div class="flex items-center gap-4">
            <p-inputNumber [(ngModel)]="purchaseSummary.nbrTickets" (ngModelChange)="fetchData()" [showButtons]="true"
              buttonLayout="horizontal" inputId="horizontal" size="1" spinnerMode="horizontal" [step]="1"
              inputStyleClass="border-gray-900 border-x-0" decrementButtonClass="bg-yellow-400 border-gray-900"
              incrementButtonClass="bg-yellow-400 border-gray-900" incrementButtonIcon="pi pi-plus text-gray-900"
              decrementButtonIcon="pi pi-minus text-gray-900" mode="decimal" [min]="1">
            </p-inputNumber>
          </div>
          <div>
            <p class="text-yellow-400 font-manrope font-bold text-2xl leading-9 text-right">
              {{ purchaseSummary.totalUsdPrice }}
              <span class="text-base">USD</span>
            </p>
            <span>{{ purchaseSummary.totalDogePrice }} DOGE</span>
          </div>

        </div>
      </div>
    </div>


    <div class="max-lg:max-w-lg max-lg:mx-auto text-center">
      <p class="font-normal text-base leading-7 text-gray-500 text-center mb-5 mt-6">La promotion de -5% s'applique à
        partir de deux billet acheté</p>
      <p-button (click)="showDialog()" label="Acheter"
        styleClass="bg-yellow-400 hover:bg-yellow-200 rounded-lg text-gray-900 border-0" [rounded]="true"
        class="yellow-400" icon="pi pi-shopping-cart"></p-button>
    </div>

    <purchase-summary [showPurchaseSummary]="showPurchaseSummary" [purchaseSummary]="purchaseSummary"
      (closePurchaseSummary)=" closeDialog()">
    </purchase-summary>

  </div>

</section>
